@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
  font-family: 'Orbitron', sans-serif;
}


*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}


.maincont{
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 0 0 0 10px black;
    /* padding: 20px; */
   height: 687px;
   width: 400px;

}
input{
    border: none;
    /* margin-left: 50px; */
        outline: none;
    margin: 10px;
    height: 190px;
    width: 80%;
    padding: 10px;
    /* box-shadow: inset 0 0 0 8px rgb(23, 22, 22); */
    font-size: 40px;
    box-sizing: border-box;
    /* margin: 5px; */

}

#in{
    font-size: 50px;
}



button{
    height: 80px;
    width: 80px;
    border: 2px solid black;
    border-radius: 50%;
    /* padding: 40px; */
    margin: 5px;
    font-size: 24px;     
    text-align: center;
    line-height: 80px;  
    font-weight: bold; 
    cursor: pointer; 
    box-shadow: 0 0 0 2px rgb(48, 47, 47);
      transition: transform 0.3s ease;
}
button:hover{
    color: azure;
     transform: scale(1.01) translateY(-3px);
    background-color: rgb(230, 180, 14);
}
.element{
    background-color: black;
    width: 100%;
    padding-bottom: 34px;
    padding-left: 16px;
/*     height: 473px; */
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;

}
.a15{
    margin-top: 5px;
    margin-left: 22px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(110, 230, 244);
}
